.root{
    font-family: 'Montserrat';
    max-width: 1400px;
    margin: auto;
}
.circle{
    position: absolute;
    left: -300px;
    top: -300px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: #fb6935;
    z-index: -1000;
}
.schedule{
    background-color: #1F2326;
    padding: 20px 100px;
}
.scheduleTitle{
    margin-top: 0px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color:#fff;
}
.form{
    background-color: #1F2326;
}

@media screen and (max-width: 1100px) {
    .circle{
        display: none;
    }
    .schedule{
        padding: 60px 0px;
    }
    .scheduleTitle{
        font-size:18px;
    }
}

